.para{
    font-weight: bold;

}

.big{
    font-size: 25px;
}

.buttonc{
    background-color: green;
    border: 2px solid black;
    color: white;
    font-size: 20px;
}

.buttoncan{
    font-size: 20px;
    background-color: white;
    border: 2px solid black;

}

.text{
    font-size: 23px;
}

.child{
    font-weight: bold;
    font-size: 17px;
}