.flex-cont{
    width: 300px;
    height: 300px;
    background-color: dodgerblue;
    border: 4px solid midnightblue;

}

.item{
    width: 100px;
    height: 100px; 
    background-color: palevioletred;
    text-align: center;
    font-weight: bold;
    border: 4px solid maroon;
}

.flex-cont{
    display: flex;
    justify-content: center;  /* center horizontally  */
    align-items: center ;    /* center vertically   */

}

