body {
    margin: 0;
    padding: 0;
}
.header {
    background: #1F2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;

    gap: 30px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    font-size: 30px;
    font-weight: bold ;
    color: #f9faf8;
}

.intro{
    background: #1f2937;
    color: #e5e7eb;
    padding: 30px;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
  
}

.title1{
    font-size: 40px;
    font-weight: bold;
    width: 300px;
}

.txt1{
    width: 370px;
    margin-bottom: 10px;
}


.button1 {
    color: white;
    background: #3882f6;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    font-weight: bold;
}

.rightbox1{
    padding: 80px 100px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title2 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.blocks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.info {
    width: 130px;
}

.box {
    width: 130px;
    height: 130px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.content {
    background: #e5e7eb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers everything horizontally */
}

.txt2 {
    text-align: center ;
    font-size: 20px;
    color: #1f2937;
    font-weight: 300px;
    padding: 20px;
    max-width: 400px;
}

.name {
    max-width: 400px; /* align width same as text */
    justify-content: flex-end; /* move the name to the right */
    display: flex;
    width: 100%; /*occupies entire parent width */
    color: black;
    font-weight: bolder;
    font-size: 15px;
}

.bottombox {
    background: #3882f6;
    color: #f9faf8;
}

.title3 {
    font-weight: bold;
    font-size: 20px;
    gap: 20px;

}

.txt3 {
    font-size: 14px
}

.button2 {
    background: #3882f6;
    color: #e5e7eb;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 2px 40px;
    width: 138px;
    height: 30px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  30px 60px;
    background: #3882f6;
    color: #e5e7eb;
    max-width: 800px; /* for responsiveness */
    border-radius: 6px;
    margin:60px auto; /* Distribute any remaining horizontal space equally on both sides & 60px up-down*/
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    color: #e5e7eb;
    height: 50px;
}