body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column; /* arranges flex's direct child elements in vertical stack,from top to bottom */

}

.header {
    height: 75px;
    background: rgb(154, 4, 171);
    color: white;

    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
    padding: 0 16px;
}

.content {
    flex: 1;
    display: flex;
}

.sidebar {
    background: rgb(59, 77, 242);
    width: 300px;
    box-sizing: border-box; /* Width/height includes content, padding & border */

    padding: 16px;
    flex-shrink: 0; /*decides how much the flex item would shrink wrt other flex-items */

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.container {
    display: flex;
    gap: 30px;
    padding: 50px;
    flex-wrap: wrap;

}

.card {
    width: 250px;
    padding: 10px;

    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .06); /* adds shadow effect in or out of the element */
    border-radius: 4px;
}


.footer {
    height: 75px;
    background: #eee;
    color: rgb(154, 4, 171);

    display: flex;
    justify-content: center;
    align-items: center;
}