@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    background: rgb(187, 183, 183);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 500px;
    gap: 20px;
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .2);
}



.icon {
    color: rgb(13, 146, 228);
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: lavender;
    flex-shrink: 0; /*keeps the icon away from smashing the text*/
}

.header {
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.txt {
    margin-bottom: 10px;

}

.cancel {
    border: 1px solid grey;
    color: rgb(13, 146, 228);
    background: white;
    border-radius: 7px;
    padding: 6px 14px;
    font-weight: bold;
}

.continue {
    border: none;
    background: rgb(13, 146, 228);
    border-radius: 7px;
    padding: 6px 14px;
    color: white;
    font-weight: bold;
}

.close {
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 500px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #eee;
}
