body{
    background-color: whitesmoke;
    margin: 0;
}

.box{
    background-color: white;
    display: flex;
    padding: 7px;
    justify-content: space-between;
}

.logo{
    font-weight: bold;
    font-size: 40px;
    color: rgb(110, 8, 153);
}

ul{
    list-style-type: none;
    display: flex;
    gap: 13px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(110, 8, 153);
}

.notification{
    border: none;
    background-color:rgb(110, 8, 153) ;
    color: white;
    border-radius: 6px;
    padding: 6px 25px;
}

.pfp{
    background-color: rgb(110, 8, 153);
    width: 45px;
    height: 45px ;
    border-radius: 50%;
}

.left, .right{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
